.navbar {
  background-color: blue;
  color: #fff;
}
.title {
  font-size: 2.5rem;
  padding: 1rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: right;
}

li {
  list-style: none;
  padding: 0 2rem 1rem;
}